.white {
    color: hsl(0,0%,100%) !important;
}
.post-id {
    color: hsl(0, 100%, 50%) !important;
}
.post-id:hover {
    cursor: default;
    color: hsl(0, 0%, 0%) !important;
    background-color: hsl(0, 100%, 50%);
}
.cls-btn {
    cursor: default;
    color: hsl(0, 0%, 0%);
}
.cls-btn:hover {
    cursor: pointer;
    color: hsl(0,0%,100%);
    /*background-color: hsl(0,0%,100%);*/
}
.cls-btn-toggled {
  color: hsl(0,0%,0%);
  background-color: hsl(0,0%,100%);
}
.hidden {
    display: none;
}
